html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

main {
    margin-top: 20%;
    margin-bottom: 30%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
}

#currency {
    width: 27%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#currency_selection, #convertion {
    position: relative;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#currency_item {
    position: relative;
    width: 49%;
    height: 20%;
}

#convert_item_from {
    position: relative;
    width: 98%;
    height: 100%;
    font-size: 16px;
    padding-left: 0.1%;
    border: 1px solid black;
}

#convert_item_to {
    position: absolute;
    width: 98.6%;
    min-height: 100%;
    font-size: 16px;
    padding: 1px;
    border: 1px solid black;
    margin: 0px;
}

#shoe {
    width: 68%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#shoe_size_table {
    position: relative;
    width: 100%;
    height: 40%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    width: 16.5%;
}

#system_selection, #size_selection {
    width: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

#convert_to, #convert_from {
    width: 39%;
    height: 20%;
}

.dropdown_item {
    display: none;
    position: absolute;
    background-color: #CACACA;
    width: 100%;
    overflow: auto;
    z-index: 1;
}

.dropdown_item p:hover {
    background-color: #9E9E9E;
    cursor: pointer;
}

.dropdown:hover .dropdown_item {
    display: block;
}

.dropbtn {
    background-color: #CACACA;
    color: #393939;
    border: 1px solid black;
    font-size: 20px;
    width: 100%;
    height: 100%;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #9E9E9E;
}

.dropdown_item p {
    display: block;
    border: 1px solid black;
    margin: 0;
}

div.arrow {
    text-align: center;
    padding-bottom: 1px;
    font-size: 20px;
    width: 20%;
    height: 100%;
    border: 1px solid black
}

.vertical_block {
    width: 5%;
    height: 100%;
}

.horizontal_block {
    width: 100%;
    height: 5%;
}

.transparent {
    color: transparent;
}

.hidden {
    /* Used to override other display properties,
     * .hidden should always take highest precedence */
    display: none !important;
  }